/* ---------------------------------------------------------------------- */
/* Fonts */
/* ---------------------------------------------------------------------- */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/static/ancestry/fonts/Lato/Lato-Light.woff2) format('woff2'), url(/static/ancestry/fonts/Lato/Lato-Light.woff) format('woff');
}
/* @import url("https://fonts.googleapis.com/css?family=Lato:300"); */

/* ---------------------------------------------------------------------- */
/* General */
/* ---------------------------------------------------------------------- */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size:   15px;
  line-height: 1.4;
  font-family: "Lato", Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-weight: 300;             }
h2                { border-bottom:1px solid #ccc; }

/* Path for chart + map */
path {
  stroke: #fff;
}

/* ---------------------------------------------------------------------- */
/* Ancestry chart */
/* ---------------------------------------------------------------------- */
#ac-hover-txt {
  width: 140px;
  top:   400px;
  left:  120px;
  color: #222;
  position: absolute;
  text-align: center;
}

#ac-username {
  width: 140px;
  top:   205px;
  left:  120px;
  color: #222;
  position: absolute;
  text-align: center;
  font-weight: bold;
}

#ancestry-chart {
    float:left; 
    margin-bottom:80px;
}

#legend { float:left; margin-left: 50px; }


.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
  pointer-events: none;
}

.timezones {
  fill: #222;
}

.timezones :hover {
  fill: orange;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  pointer-events: none;
}

.colorbox {
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    display: inline-block;
    border: thin solid black;
    margin: 2px;
}

h5.highlighted {
    animation-duration: 2s;
    animation-name: highlight;
}

@keyframes highlight {
    from {
	background: yellow;
    }
    to {
	background: white;
    }
}

.hlx {
    background: yellow !important;
    fill: yellow !important;
    color: black !important;
    stroke: black;
    stroke-width: 2px;
}

a.tab {
    border-style: solid solid none solid;
    border-width: 1px 1px 0px 1px;
    border-color: black;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px 0px 10px;
    background: #ccc;
    color: black;
    cursor: pointer;
}

a.current {
    background: white;
    font-size: larger;
    padding-bottom: 3px;
}

div.mapborder {
    background: white;
    padding:2px;
    border: 1px solid black;
}

a { font-weight: bold ; }

td.legend {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: white;
}

td.last {
  border-radius: 0px 7px 7px 0px;
}

table#htmllegend {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
