{% extends "master.html" %}

{% block content %}
<main class="" role="main" tabindex="-1">

  <section class="container fluid-container panel">
    <h4 class=""> Hello {{ current_user.first_name }}! &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;
    </h4>
  </section>

  <section class="container fluid-container user-space">
    <div class="row">

      {## Left-side Column ##}
      <div class="col-md-6 col-xs-12 box user-directory">

	{## Reports Panel ##}
        <div class="panel panel-default">
          <div class="panel-heading">My Reports</div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Find Relatives</td>
                  <td>
                      <a href="/profile/linkage">view</a>
                  </td>
                </tr>
                <tr>
                  <td>Find Relatives of Relatives</td>
                  <td>
                      <a href="/profile/network-segments-report">view</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Ancestry Report
                  </td>
                  <td>
                    {##{% if current_user.has_ancestry %}##}
                    <a href="/profile/ancestry">view</a>
                    {##{% else %}
                    In Progress<br/>
                    (<a href="/faq#in_progress">where are my results?</a>)
                    {% endif %}##}
                  </td>
                </tr>
                <tr>
                    <td>Trait Prediction Report
                    {% if current_user.has_traits %}
                      <b style="color:red;background:yellow">New!</b>
                    {% endif %}
                    </td>
                    <td>
                        {% if current_user.has_traits %}
                        <a href="/profile/traits/menu">view</a>
                        {% else %}
                        In Progress<br/>
                        (<a href="/faq#in_progress">where are my results?</a>)
                        {% endif %}
                    </td>
                </tr>
                {## No Imputation report for now
                <tr>
                  <td>Imputation Information</td>
                  <td>
		    {% if current_user.has_imputation %}
		    <a href="/profile/imputation">view</a>
		    {% else %}
		    In Progress
		    {% endif %}
		  </td>
                </tr>
		#}
              </tbody>
            </table>
          </div>
        </div>

	{## New Geni Button Panel ##}
        <div class="panel panel-default">
          <div class="panel-heading">My External Tools</div>
          <div class="panel-body">
            <table class="table table-hover">
	      <thead>
		<tr>
		  <td>Name</td>
		  <td>Status</td>
		  <td></td>
	      </thead>
	      <tbody>
                <tr>
                  <td>
		    <img src="/static/img/geni-logo.png"
			 width="70" height="23"
			 alt="geni.com"
			 />
		  </td>
                  <td>
		    {# If Connected to Geni - show it.
		       otherwise - show connect button #}
		    {% if current_user.has_geni_connection %}
		      Connected
		      (<a href="/profile/geni-disconnect">disconnect</a>)
		    {% else %}
		      <a href="#" data-action="geni-connect"
		         class="btn btn-sm btn-primary"
		         onclick="javascript:geni_connect();">
		        Import from Geni.com
		      </a>
		      <form style="display: hidden" id="geniconnectform"
			  action="/profile/geni-connect"
			  method="post">
		        {{ geniform.hidden_tag() }}
		      </form>
                    <small>(<a href="#" onclick="javascript:geni_connection_errors();">
                     connection troubles?</a>)</small>
		    {% endif %}
		  </td>
		  <td>
		    <a target="_blank" href="/geni-info">
		      Learn more</a>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div>


      </div> {## Left-side Column (my reports) ##}

      {## Right-side Column (my progress) ##}
      <div class="col-md-6 col-xs-12 box user-directory">

	{## Progress Panel ##}
        <div class="panel panel-default">
          <div class="panel-heading">My Contribution</div>
          <div class="panel-body">
            <div class="donut-container animate-fast"></div>
	    <div class="pull-left">
	      <small><a href="/faq#contribution_badge">learn more</a></small>
	    </div>
	  </div>

	  {## Share Widget ##}

		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '367361500124035',
		      xfbml      : true,
		      version    : 'v2.3'
		    });
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>

          <div class="widget-container share-widget">
            <div class="share-pane animate-fast">
              <a href="javascript:void(0)" data-network="twitter">
		<i class="icon-twitter-logo"></i>
	      </a>
              <a href="javascript:void(0)" data-network="facebook">
		<i class="icon-facebook-logo"></i>
	      </a>
              <!-- <a href="javascript:void(0)" data-network="google">
		<i class="icon-google-plus-logo"></i>
	      </a> -->
            </div>
            <a href="javascript:void(0)" class="btn-share"
	       data-toggle="tooltip" data-placement="left" title="share contribution">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <path d="M0 0h24v24h-24z" fill="none"/>
                <!-- Share Logo -->
                <path d="M18 16.08c-.76 0-1.44.3-1.96.77l-7.13-4.15c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7l-7.05 4.11c-.54-.5-1.25-.81-2.04-.81-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
              </svg>
            </a>
          </div>

        </div>

        {#-
        {% if current_user.can_send_invites() %}
        <div class="panel panel-default">
          <div class="panel-heading">Invite a Friend</div>
          <div class="panel-body">
            Do you know someone else who might enjoy DNA.Land?  Send an
            <a href="/profile/invite">invitation</a>.
          </div>
        </div>
        {% endif %}
        -#}

      </div> {## right-side column (my reports) ##}

    </div> {## top row ##}

{#- i have not f* clue why this is needed,
   but without it, the <div> below disappears
   when the mouse is over the badges and the tooltip
   appears. likely a bug I failed to spot.
   don't remove this until you fix the bug.
   Gosh Darn css/dom voodoo!!! -#}
&nbsp;

    {## Bottom row ##}
    <div class="row">

      <div class="col-md-12 col-xs-12 box user-directory">
        <div class="panel panel-default">
          <div class="panel-heading">My Files</div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>File</td>
                  <td>Date</td>
                  <td>Status</td>
                  <td>Description</td>
                </tr>
              </thead>
              <tbody>
		{% for f in current_user.file_uploads %}

		{## The original file, uploaded by the user ##}
		<tr>
		  <td>
		    {%- if f.status == "DONE" -%}
		    <a href="/secure-download/uploaded">
		      raw data
		    </a>
		    {% else %}
		      raw data
		    {% endif %}
		  </td>
		  <td>{{f.upload_time.strftime("%d-%b-%Y") }}</td>
		  <td>{{f.status}}</td>
		  <td>Uploaded File, converted to 23-and-Me format</td>
		</tr>

		{## Additional files we provide for the user to download ##}


		{## 23-and-Me normalized to hg19,dbSNP141 ##}
		{# we don't have this yet...
		<tr>
		  <td>
		    {%- if f.status == "DONE" -%}
		    <a href="#">23-and-Me.txt.gz</a>
		    {%- else -%}
		    23-and-Me.txt.gz
		    {%- endif -%}
		  </td>
		  <td>{{f.upload_time.strftime("%d-%b-%Y") }}</td>
		  <td>
		    {%- if f.status == "DONE" -%}
		    DONE
		    {% elif f.status == "ERROR" %}
		    <b>f.errmsg</b>
		    {% else %}
		    IN PROGRESS
		    {% endif %}
		  </td>
		  <td>
		    Cleaned-up 23-andMe file
		  </td>
		</tr>
		#}

		{## 23-and-Me data converted to VCF ##}
		<tr>
		  <td>
		    {%- if f.status == "DONE" -%}
		    <a href="/secure-download/imported-vcf">Imported VCF</a>
		    {%- else -%}
		    Imported VCF
		    {%- endif -%}
		  </td>
		  <td>{{f.upload_time.strftime("%d-%b-%Y") }}</td>
		  <td>
		    {%- if f.status == "DONE" -%}
		    DONE
		    {% elif f.status == "ERROR" %}
		    <b>f.errmsg</b>
		    {% else %}
		    IN PROGRESS
		    {% endif %}
		  </td>
		  <td>
		    Uploaded genotype in VCF format (hg19,dbSNP-141)
		  </td>
		</tr>


		{## Imputed VCF File ##}
		<tr>
		  <td>
		    {%- if f.status == "DONE" -%}
		    <a href="/secure-download/imputed-vcf">Imputed VCF</a>
		    {%- else -%}
		    Imputed VCF
		    {%- endif -%}
		  </td>
		  <td>{{f.upload_time.strftime("%d-%b-%Y") }}</td>
		  <td>
		    {%- if f.status == "DONE" -%}
		    DONE
		    {% elif f.status == "ERROR" %}
		    <b>f.errmsg</b>
		    {% else %}
		    IN PROGRESS
		    {% endif %}
		  </td>
		  <td>
		    Imputed VCF file (~39M SNPs)
		    &nbsp;
		    &nbsp;
		    <a target="_blank" href="/vcf-info">learn more</a>
		  </td>
		</tr>

		{## TBI (Tabix Index) of Imputed VCF File ##}
		<tr>
		  <td>
		    {%- if f.status == "DONE" -%}
		    <a href="/secure-download/imputed-tbi">Imputed TBI</a>
		    {%- else -%}
		    Imputed TBI
		    {%- endif -%}
		  </td>
		  <td>{{f.upload_time.strftime("%d-%b-%Y") }}</td>
		  <td>
		    {%- if f.status == "DONE" -%}
		    DONE
		    {% elif f.status == "ERROR" %}
		    <b>f.errmsg</b>
		    {% else %}
		    IN PROGRESS
		    {% endif %}
		  </td>
		  <td>
		    Imputed TBI File (VCF Tabix)
		    &nbsp;
		    &nbsp;
		    <a target="_blank" href="/faq#tbi">learn more</a>
		  </td>
		</tr>

		{## Imputed BCF File ##}
		<tr>
		  <td>
		    {%- if f.status == "DONE" -%}
		    <a href="/secure-download/imputed-bcf">Imputed BCF</a>
		    {%- else -%}
		    Imputed BCF
		    {%- endif -%}
		  </td>
		  <td>{{f.upload_time.strftime("%d-%b-%Y") }}</td>
		  <td>
		    {%- if f.status == "DONE" -%}
		    DONE
		    {% elif f.status == "ERROR" %}
		    <b>f.errmsg</b>
		    {% else %}
		    IN PROGRESS
		    {% endif %}
		  </td>
		  <td>
		    Imputed BCF file (~39M SNPs)
		  </td>
		</tr>

		{% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div> {## end of col-md-6 (my files) ##}
    </div> {## end of div.row ##}

  </section>
</main>
{% endblock %}

{% block js %}

<script type="text/javascript">
window.USER = {
   {#
     Generate the metrics data, like so:

     metrics:  [
        {"metric_name": "percentile","metric_value": 2},
        {"metric_name": "points",    "metric_value": 10},
        {"metric_name": "genealogy", "metric_value" : 90 },
        {"metric_name": "genotype",  "metric_value" : 80 },
        {"metric_name": "phenotype", "metric_value" : 70 }
      ]

     "points" and "percentile" are used as text in the middle of the 'donut' circle.
     The others will be used to animate 'completion' circles
     (there will be as many circles as there are records).
     If user_percentile=4, user will be shown 96%.

     The D3 code is in ./dnaland//static/js/profile.js .
   -#}

   metrics: [
       {% for m in current_user.get_metrics -%}
       {{"{"}} metric_name:'{{ m.metric_name }}',metric_value: {{ m.metric_value }}{{ "}" }}
       {%- if not loop.last %},{% endif %}
       {% endfor -%}
   ]
};

</script>

<script type="text/javascript" data-main="/static/js/main"
	src="/static/bower_components/requirejs/require.js"></script>

<script src="/static/js/profile.js"></script>

<script src="/static/ancestry/js/jquery-1.11.3.min.js"></script>
<script src="https://www.geni.com/jsdk.js"></script>
<script src="/static/js/geni-dnaland.js"></script>

<script>
$(function(){
    geni_initialize();

    $.post('/log-browser',
           {'w': window.innerWidth,
            'h': window.innerHeight,
            'h4height': $('h4').height(),
            'userAgent': window.navigator.userAgent,
            'csrf_token': '{{ csrf_token() }}'
           });
});

</script>


{% endblock %}
